<%- include header %>

    <%=mrlong%>
    <h1><%= title %></h1>
    <p onclick="click">Welcome to fffff <%= title %></p>
    <input type="button" value="Hello world!" onclick="myclick()">


<%- include footer %>